<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Site URL</string>
			<key>Key</key>
			<string>siteUrl</string>
			<key>DefaultValue</key>
			<string>fs.to</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sort by</string>
			<key>Key</key>
			<string>sortBy</string>
			<key>DefaultValue</key>
			<string>2</string>
			<key>Titles</key>
			<array>
				<string>Latest activity</string>
				<string>Rating</string>
				<string>Year</string>
				<string>Popularity</string>
				<string>Trending</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show hidden materials</string>
			<key>Key</key>
			<string>showHidden</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Autoplay next</string>
			<key>Key</key>
			<string>autoplayNext</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Load main page items</string>
			<key>Key</key>
			<string>mainPage</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show progress</string>
			<key>Key</key>
			<string>showProgress</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Login</string>
			<key>Key</key>
			<string>login</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Video filters</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Mood</string>
			<key>Key</key>
			<string>mood</string>
			<key>DefaultValue</key>
			<string>Any</string>
			<key>Titles</key>
			<array>
				<string>Any</string>
				<string>Comedy</string>
				<string>Horror</string>
				<string>Action</string>
				<string>Soul</string>
			</array>
			<key>Values</key>
			<array>
				<string>Any</string>
				<string>comedy</string>
				<string>horror</string>
				<string>action</string>
				<string>soul</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Production</string>
			<key>Key</key>
			<string>vproduction</string>
			<key>DefaultValue</key>
			<string>Any</string>
			<key>Titles</key>
			<array>
				<string>Any</string>
				<string>Our</string>
				<string>Foreign</string>
			</array>
			<key>Values</key>
			<array>
				<string>Any</string>
				<string>our</string>
				<string>foreign</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Quality</string>
			<key>Key</key>
			<string>quality</string>
			<key>DefaultValue</key>
			<string>Any</string>
			<key>Titles</key>
			<array>
				<string>Any</string>
				<string>High</string>
				<string>Good</string>
				<string>Medium</string>
			</array>
			<key>Values</key>
			<array>
				<string>Any</string>
				<string>hight</string>
				<string>good</string>
				<string>middle</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Translation</string>
			<key>Key</key>
			<string>translation</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>Any</string>
				<string>Professional</string>
				<string>Amateur</string>
				<string>Studio</string>
			</array>
			<key>Values</key>
			<array>
				<string>Any</string>
				<string>proffesional</string>
				<string>amateur</string>
				<string>double</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audio filters</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Genre</string>
			<key>Key</key>
			<string>genre</string>
			<key>DefaultValue</key>
			<string>Any</string>
			<key>Titles</key>
			<array>
				<string>Any</string>
				<string>Pop</string>
				<string>Hard</string>
				<string>Dance</string>
				<string>Soul</string>
			</array>
			<key>Values</key>
			<array>
				<string>Any</string>
				<string>pop</string>
				<string>hard</string>
				<string>dance</string>
				<string>soul</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Production</string>
			<key>Key</key>
			<string>aproduction</string>
			<key>DefaultValue</key>
			<string>Any</string>
			<key>Titles</key>
			<array>
				<string>Any</string>
				<string>Our</string>
				<string>Foreign</string>
			</array>
			<key>Values</key>
			<array>
				<string>Any</string>
				<string>our</string>
				<string>foreign</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
